/*
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Temas visuales
5. Miscelaneous y otros
*/
:root{
    --bitcoin-orange: #f7931A;
    --soft-orange: #ffe9d3;
    --secondary-blue:#1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black:#201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white:#faf8f7;
    --just-white: #ffffff;

}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

header {
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height:334px;
    text-align: center;
    background: linear-gradient(207.8deg,#201E1C 16.69%, #f7931a 100%);
    
}

header img{
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;

}

.header-title__container {
    width: 90%;
    min-width: 288px;
    max-width: 900px ;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
}

.header-title__container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}

.header-title__container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-size: var(--soft-orange);
}

.header-title__container .header-title__button{
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);

    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header-title__container .header-title__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width: 100vw;
    height: auto;
    background-color: var(--off-white);
}

.exchange { /*main-exchange-container*/
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom:30px;
    text-align: center;
}

.exchange__title { /*main-exchange-container--title*/
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.exchange__background-img { /*main-exchange-container__background-img*/
    width:200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/imgs/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.exchange h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.exchange p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575

}



/*main-currency-table"*/
.exchange__table-container--currency, .exchange__table-container--commision {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

} 

.exchange__table-container--currency .exchange__table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange)
} 

/*currency-table--container*/
.exchange__table--currency, .exchange__table--commision { 
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    border-radius: 15px;;
}

.exchange__table--currency table, .exchange__table--commision table{
    width:100%;
    height:100%;
}

.exchange__table--currency td, .exchange__table--commision td{

    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);

}

.exchange__table--currency .exchange__table-cell_position_top-left{
    border-radius: 15px 0 0 0;

}

.exchange__table--currency .exchange__table-cell_position_top-right {
    border-radius: 0 15px 0 0;

}

.exchange__table--currency .exchange__table-cell_position_bottom-left{
    border-radius: 0 0 0 15px;

}

.exchange__table--currency .exchange__table-cell_position_bottom-right {
    border-radius: 0 0 15px 0;

}


.exchange__table--currency .exchange__table-cell_position_right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;


}

.exchange__table--currency .exchange__table-trend--down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange__table--currency .exchange__table-trend--up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange__table--currency  .exchange__table-date {
    width: 190px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.exchange__table--currency .exchange__table-date p {
    margin:7px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);

}

/* --------------------------------- COMMISIONS TABLE -----------------------------*/



.exchange__table-container--commision .exchange__table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue)
} 

.exchange__table--commision .exchange__table-cell_position_top-left{
    border-radius: 15px 0 0 0;

}

.exchange__table--commision .exchange__table-cell_position_top-right {
    border-radius: 0 15px 0 0;

}

.exchange__table--commision .exchange__table-cell_position_bottom-left{
    border-radius: 0 0 0 15px;

}

.exchange__table--commision .exchange__table-cell_position_bottom-right {
    border-radius: 0 0 15px 0;

}


.exchange__table--commision .exchange__table-cell_position_right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;


}

.exchange__table--commision .exchange__table-trend--down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange__table--commision .exchange__table-trend--up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange__table-container--commision .exchange__table-date {
    width: 190px;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    padding: 16px 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

.exchange__table-container--commision .exchange__table-date p {
    margin: 7px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);

}

/*------------------------Inician detalles de producto ---------------*/

.product-detail {
    margin-top:50px;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);

}

.product-detail__icon {
    position: absolute;
    width: 40px;
    height: 25px;
    left:calc(50% - 20px);
    top:-10px;
    background-image: url("./assets/imgs/batata.svg");
    
}

.product-detail__text-content {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail__text-content h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail__text-content p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}   


/*------------------------Inician cards -------------------------*/ 
.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width:400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px,rgba(0,0,0,0.16);
}

.product-detail__card--clock .product-detail__card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white)

}

.product-detail__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080

}

.product-detail__card--eye .product-detail__card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card--cash .product-detail__card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail__card--check .product-detail__card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/check-circle.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/imgs/bitcoinbabyx2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-container h2 {
    padding-top:60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white)
}

/*----------------Plane ---------------*/

.plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
}

.plans__text-content {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans__text-content h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black)
}

.plans__text-content p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plan__card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white); 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}